

<nav class="navbar bg-body-tertiary" data-bs-theme="grey">
    <div class="container d-flex justify-content-start align-items-center">
        <a class="navbar-brand" href="/"><h5>Machine Management</h5></a>
        <NavLink class="nav-link" href="/dashboard" Match="NavLinkMatch.All">
          <span class="ms-2">Dashboard</span>
        </NavLink>
    </div>
</nav>