@inject DeviceClient Client
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<div class="modal fade" id="@GetModalId(Item)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button"
                        class="btn btn-danger"
                        data-bs-dismiss="modal"
                        @onclick="@Confirm">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public Device? Device { get; set; }

    [Parameter]
    public Item? Item { get; set; }

    private string title = string.Empty;

    protected override void OnParametersSet()
    {
        title = $"Delete {Item.Name}?";
    }

    public static string GetModalId(Item? item)
    {
        ArgumentNullException.ThrowIfNull(item);
        return $"deleteModal-{item.Id}";
    }

    private void Confirm()
    {
        Client.RemoveItem(Device!.Id, Item!.Id);
        NavigationManager.NavigateTo($"/details/{Device.Id}", true);
    }
}
