@page "/"

<PageTitle>Home</PageTitle>

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h3 class="mt-4">Welcome To The Machine Management System</h3>
    </div>
</div>